{% extends 'base.html' %}
{% block content %}
    <h1>Sign In</h1>

    <!-- The <form> element is used as a container for the web form. --->
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.remember_me.label }} {{ form.remember_me() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock content %}
